#root {
  max-width: 100%;
  padding: 0;
  box-sizing: border-box;
  font-family: 'Roboto', sans-serif;
  overflow: hidden;
  scroll-behavior: smooth;
}

/* Custom CSS to handle the transition of the mobile menu */
.mobile-menu-link {
  display: none;
}

@media (max-width: 1024px) {
  .mobile-menu-link {
    display: block;
  }
}

.sliding-bar{
  height: 550px;

}